.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}


.white_text {
  color: white;
}

.table_text_quote {
  padding-top: 20px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  order: 1;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__logo {
  width: 183px;
  height: 32px;
}

.header__logo_theme_light {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0 0 0 64px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;

}

.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  }

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.description{
  padding-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;

}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.two-columns_brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  color: #2f80ed;
  display: flex;
  justify-content: space-between;
  margin: 0;
    /*border: 3px solid red;*/
}

.two-columns_paragraph {
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  margin: 0 0 30px;
}

.two-columns_paragraph:last-child {
  margin: 0;
}

.two-columns_span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_theme_light {
  margin: 0 auto 100px;
}

.table_cell {
  display: flex;
  flex-direction: column;
}

.table__cell_white_theme {
  width: 250px;
  margin-top: 60px;
}

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;
  margin: 0 0 20px;
}

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  z-index: 1;
  margin: 0;
}

.feynman {
  width: 100%;
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;

}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-style: bold;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  margin: 0;
}

.feynman__subtitle {
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;

}

.feynman__link {
  top: 50%;
  /*transform: translateY(50%);*/
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
}

.kaufman {
  background-color: black;
  padding: 90px 0 90px;
  position: relative;
  z-index: -1;
  overflow: hidden;
  }

.table_theme_dark {
  margin: 0 auto 0;
}

.kaufman_triangle {
  background-image: url(../images/kaufman-triangle.svg);
  /*background-size: 877px 877px;*/
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 0;

}

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: black;

}

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  background-color: black;
  display: flex;
  min-height: 300px;
}

.footer__column_content-copyright {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;

}

.footer__column-link {
  text-decoration: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-style: bold;
  margin: 20px 0 20px;
}

.footer__column_content-info {
  padding: 0 50px 0;
}

.social-icon {
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 10px;

}

.footer__column_content-social-heading {
  margin: 25px 0 20px;
}
