.page {

  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  order: 1;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.rotation {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0);

  }
  to {
    transform: rotate(360deg);
  }
}

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.header__link:hover {
  opacity: .7;
  transition: opacity .3s ease;
}

.description{
  padding-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.techniques {
  margin: 100px auto 0;
  width: 80%;
  justify-content: center;


}

.cards {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0 auto;
  /*justify-content: center;*/
  width: 920px;
}

.cards__item {
  max-width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3) {

  margin-right: 0px;
}

.cards__image {
  box-sizing: border-box;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
  overflow: hidden;

}

.cards__title{
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 16px;
  justify-content: center;
  text-align: center;

}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 100px auto 0;
  position: relative;
  width: 100%;

}

.video__iframes {
  margin: 50px auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -50px;

}

.video__iframe {
  margin-right: 20px;
  display: flex;
}

.video__iframe:last-child {
  margin-right: 0;
}

.oakley {
  margin: 0 auto 0;
  padding-top: 160px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}

.digits {
  padding-top: 100px;
  width: 100%;

}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;

}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto 100px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  /*margin: 0 0 20px;*/
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
  padding-top: 20px;
}

.khan {
  margin: 0 auto 0;
  padding-top: 105px;
  width: 100%;
  background-color: #f2f2f2;

}

.khan__container {
  width: 80%;
  margin: 0 auto 0;
  justify-content: center;

}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px auto 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px auto 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.book__container {
margin: 68px 0 0;
display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin: 0 48px 0 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: .7;
  transition: opacity .3s ease;
}

.feynman {
  width: 100%;
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  /*left: 50%;
  transform: translateX(-50%);
  position: relative;*/
  display: flex;
  text-align: center;
  margin: 0;
}

.feynman__subtitle {
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  z-index: 2;
  text-align: center;
  margin: 0;
}

.feynman__link {
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
}

.feynman__link:hover {
  opacity: .7;
  transition: opacity .3s ease;
}


.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0 90px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  }

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

}

.table__heading_theme_dark {
  color: white;
  z-index: 2;
  margin: 0;
}

.table_theme_dark {
  margin: 0 auto 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  /*background-size: 877px 877px;*/
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 0;

}

.resources {
  margin: 100px auto 217px;
}

.resources__zone {
  margin: 80px auto 0;
  width: 1100px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.footer__columns {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__column_content_copyright {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;

}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__column-link:hover {
  opacity: .7;
  transition: opacity .3s ease;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-links {
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
  color: white;
  display: flex;
}

.footer__social-icon {
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
